body {
  background-color: #003300;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffbf00;
  padding: 10px;
  margin: 100px;
}
.item {
  background-color: #ffffff;
  border: 1px solid #ffbf00;
  width: 100%;
  padding: 50px;
  font-size: 30px;
  text-align: center;
}
.intro {
  background-color: #7a7c7e;
  color: #ffea4a;
  border: 3px solid #ffc12c;
  text-align: center;
  margin: 25px;
  padding: 5px;
}
.intro button {
  color: #000000;
}
.winning-message {
text-align: center;
}
.user_interface {
  display: none;
}
#restartButton {
  display: none;
}
